@model SchoolProject2.Models.Teacher
@{
    ViewBag.Title = "AddTeacherClass";
}



<form method="post" action="/Teacher/AddTeacherClass/@Model.id" id="teacher_form_update">
    <h2>Add Class(es) to teacher @Model.firstname @Model.lastname</h2>

    <div id="class_error"> </div>
    <div>
        <label for="ClassCode">Class code:</label>
        <input type="text" id="ClassCode" name="ClassCode" required />
    </div>
    <div>
        <label for="ClassName">Class Name:</label>
        <input type="text" id="ClassName" name="ClassName" required />
    </div>
    <div>
        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate" required />
    </div>
    <div>
        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" required />
    </div>
    <div>
        <input type="submit" value="Add Class" />
    </div>


</form>

