@model List<SchoolProject2.Models.Teacher>
@{
    ViewBag.Title = "Teachers List ";
}
<nav id="nav-profile">
    <a href="/Teacher/Add">Add a teacher</a>
    <a href="/Teacher/Ajax_Add">Add a teacher (ajax)</a>
</nav>
<h2>List of teachers</h2>
<ul id="list-teachers">
    @foreach (SchoolProject2.Models.Teacher teacher in Model)
    {
        <li><a href="Show?id=@teacher.id">@string.Format("{0} {1}", @teacher.firstname, @teacher.lastname)</a></li>
    }
</ul>

