@model List<SchoolProject2.Models.Teacher>
@{
    ViewBag.Title = "Teachers List ";
}

<h2>List of teachers</h2>
<ul id="list-teachers">
    @foreach (SchoolProject2.Models.Teacher teacher in Model)
    {
        <li><a href="Show?id=@teacher.id">@string.Format("{0} {1}", @teacher.firstname, @teacher.lastname)</a></li>
    }
</ul>

